<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">

  <%= form_with(model: store, class: 'space-y-6') do |form| %>
    <% if store.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

        <ul>
          <% store.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Criar nova Loja</h2>
      
      <div class="field">
        <%= form.text_field :title, placeholder: "Nome da loja", class: 'appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' %>
      </div>
      
    <div class="actions">
      <%= form.submit 'Criar', class: 'group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
    </div>
  <% end %>
</div>