<p style="color: green"><%= notice %></p>

<% stripe_onboarded = @store.charges_enabled? || @store.payouts_enabled? %>

<div class="space-y-2 flex justify-center w-full">
  <div class="space-y-4 p-8 rounded-xl border shadow max-w-xl mt-4">
    <div class="space-y-2">
      <% if @store.stripe_account_id.present? %>
        
        <% if stripe_onboarded == false %>
          <p class="font-black text-4xl">Finalize seu cadastro <span class="text-blue-500">Stripe</span>!</p>
          <%= button_to "Finalizar cadastro Stripe", stripe_account_path, method: :put, data: { turbo: false }, class: 'inline-block border bg-blue-500 text-white border-blue-500 transition-colors py-2 px-8 rounded-xl font-medium hover:bg-secondary' %>
        <% else %>
          <p class="font-black text-4xl">Visite o <span class="text-blue-500">dashboard</span>!</p>
          <%= link_to "Dashboard", stripe_account_path, class: 'inline-block border bg-blue-500 text-white border-blue-500 transition-colors py-2 px-8 rounded-xl font-medium hover:bg-secondary' %>

          <div>
            <%= link_to 'Minhas experiências', experiences_path, class: 'inline-block border bg-blue-500 text-white border-blue-500 transition-colors py-2 px-8 rounded-xl font-medium hover:bg-secondary' %>
          </div>
        <% end %>
      <% else %>
        <p class="font-black text-4xl">Crie sua conta <span class="text-blue-500">Stripe</span>!</p>
        <%= button_to "Criar conta Stripe", stripe_account_path, method: :post, data: { turbo: false }, class: 'inline-block border bg-blue-500 text-white border-blue-500 transition-colors py-2 px-8 rounded-xl font-medium hover:bg-secondary' %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <%= link_to "Back to home", root_path, class: 'text-blue-500 underline p-8' %>
</div>
