<p style="color: green"><%= notice %></p>

<%= render @experience %>

<% if @experience.store == current_user.store %>
  <p>
    <%= link_to 'Edit', edit_experience_path(@experience) %> |
    <%= link_to 'Back', experiences_path %>
  </p>

  <% if @experience.batch.present? %>
    <h2>Preço</h2>
    <p>R$ <%= @batch.price %></p>
  <% else %>
    <p>Nenhuma turma cadastrada</p>
    <%= link_to 'Abrir nova turma', new_batch_path(experience_id: @experience.id) %>
  <% end %>

<% end %>

