<p style="color: green"><%= notice %></p>

<%= render @experience %>

<% if @experience.store == current_user.store %>
  <p>
    <%= link_to 'Edit', edit_experience_path(@experience) %> |
    <%= link_to 'Back', experiences_path %>
  </p>

  <% if @experience.batch.present? %>
    <%= form_with url: checkouts_path, data: { turbo: false }, method: :post do %>
      <%= hidden_field_tag :batch_id, @batch.id %>
      <%= submit_tag "Reservar por R$#{@batch.price / 100}" %>
    <% end %>
  <% else %>
    <p>Nenhuma turma cadastrada</p>
    <%= link_to 'Abrir nova turma', new_batch_path(experience_id: @experience.id) %>
  <% end %>

<% end %>

