<p style="color: green"><%= notice %></p>

<div class="p-8 bg-slade-800">
  <h3 class="text-3xl font-extrabold text-gray-900" ><%= @experience.title %></h3>
</div>

<% if @experience.store == current_user.store %>

  <% if @experience.batch.nil? %>
    <div class="p-8">
      <p class="mb-4">Nenhuma turma cadastrada</p>
      <%= link_to 'Abrir nova turma', new_batch_path(experience_id: @experience.id), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    </div>
  <% end %>

<% end %>

<% if @experience.batch.present? %>
  <%= form_with url: checkouts_path, data: { turbo: false }, class: 'p-8', method: :post do %>
    <%= hidden_field_tag :batch_id, @batch.id %>
    <%= submit_tag "Reservar por R$#{@batch.price / 100}", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  <% end %>
<% end %>

<%= link_to 'Back', root_path, class: 'underline text-blue-500 p-8' %>